main {
    #containers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 48px;
        align-items: center;
        justify-items: center;
        padding: 5.5rem 0 3rem;
        #hro-cont {
            .text-second-solg {
                color: var(--gen-pink-500);
            }
            .text-third-solg {
                color: var(--gen-blue-400);
            }
            > button {
                background: linear-gradient(315deg, #a78bfa, #ec4899);
                border-radius: 10px;
                padding: 10px;
                display: inline-flex;
                align-items: center;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                span {
                    color: #fefefe;
                    margin: 0 5px;
                }
                .bi-arrow-down-circle {
                    position: relative;
                    top: 2px;
                }
            }
            > p {
                margin: 16px 0 32px 0;
            }
            > h1 {
                max-width: 24.5rem;
                margin: 16px 0;
                line-height: 4rem;
                font-size: 3rem;
                font-weight: 900;
                border-right: 5px solid var(--gen-mouse);
                white-space: nowrap;
                overflow: hidden;
                animation: typing 12s steps(50) infinite, blink .75s step-end infinite;
                text-shadow: var(--gen-text-shadow) 0px 3px 2px;
            }
        }
        #hro-media {
            aspect-ratio: 1 / 1;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                display: block;
            }
        }
    }
    #achv {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        text-align: center;
        margin: 64px 0;
        .figr {
            font-size: 37px;
            font-weight: 700;
            background: linear-gradient(315deg, #be123c, #ffa387);
            text-shadow: #ffa387 0px 2px 7px;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            line-height: 48px;
            margin-bottom: 8px;
        }
    }
    #purp {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 48px;
        .ic-cad {
            border-radius: 10px;
            width: 33px;
            height: 33px;
        }
        .ic-cad-tn {
            background: #f7b2bece;
        }
        .ic-cad-sm {
            background: #66c59a5a;
        }
        .ic-cad-pos {
            position: relative;
            right: -5.5px;
        }
        .bord-cad-tn {
            border: 1px solid #f7b2bd;
        }
        .bord-cad-sm {
            border: 1px solid #66c59a5a;
        }
        .card-soft {
            background: var(--gen-purp);
            border-radius: 16px;
            padding: 24px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px, rgba(0, 0, 0, 0.06) 0px 1px 2px;
            h3 {
                display: flex;
                align-items: center;
                font-size: 16px;
                font-weight: inherit;
                margin-bottom: 25px;
                span {
                    display: inline-flex;
                    align-items: center;
                }
                span:first-child {
                    margin-right: 8px;
                }
            }
        }
    }
    #activities {
        .h-act {
            h3 {
                font-size: 1.825rem;
                font-weight: 700;
                margin-bottom: 8px;
            }
            p {
                font-size: 15px;
            }
        }
        .cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 32px;
            .act-cad {
                background: var(--gen-purp);
                text-align: center;
                border: 1px solid #a3c4f3;
                padding: 24px;
                border-radius: 16px;
                > img {
                    margin-bottom: 22px;
                    border-radius: 50%;
                }
                > h3 {
                    margin-bottom: 24px;
                }
            }
        }
    }
    #teams {
        .h-tems {
            h3 {
                font-size: 1.825rem;
                font-weight: 700;
                margin-bottom: 8px;
            }
            p {
                font-size: 15px;
            }
        }
        #info-tems {
            .mems {
                width: 100%;
                height: max-content;
                padding: 24px;
                border-radius: 12px;
                background: var(--gen-mems-bg);
                background-image: radial-gradient(circle at 10% 20%, rgba(86, 80, 151, 0.15), transparent 40%), radial-gradient(circle at 80% 90%, rgba(80, 151, 142, 0.15), transparent 40%);
                .lo-mems {
                    border: 4px solid var(--gen-avatar-mems);
                    border-radius: 50%;
                    margin-bottom: 16px;
                }
                h4 {
                    font-size: 20px;
                    margin-bottom: 4px;
                }
                .pos-mems {
                    margin-bottom: 12px;
                    color: var(--gen-mems);
                    font-weight: 600;
                }
                .i-mems {
                    text-align: center;
                    padding-bottom: 24px;
                    border-bottom: 1px solid #7180962e;
                }
                .des-mems {
                    font-size: 14px;
                }
                > .spec-mems {
                    text-align: center;
                    margin-top: 17px;
                    h4 {
                        font-size: 15px;
                        margin: 12px 0 8px 0;
                    }
                    .tag-des-mems {
                        display: inline-block;
                        background: linear-gradient(315deg, #bc3c4bcd, #ee8c68ac);
                        color: #f3fbf7;
                        border-radius: 7px;
                        padding: 8px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    #partners {
        .h-partn {
            h3 {
                font-size: 1.825rem;
                font-weight: 700;
                margin-bottom: 8px;
                .text-second-partn {
                    color: var(--gen-pink-500);
                }
            }
            p {
                font-size: 15px;
            }
        }
        #info-partn {
            text-align: center;
            .partns {
                border-radius: 12px;
                transition: border-color 0.3s ease;
                width: 100%;
                border-radius: 12px;
                background: var(--gen-partner);
                padding: 24px;
                .lo-partns {
                    background: var(--gen-white);
                    object-fit: contain;
                    border: 4px solid var(--gen-avatar-partn);
                    border-radius: 50%;
                    margin-bottom: 16px;
                }
            }
            h4 {
                font-size: 18px;
                margin-bottom: 8px;
            }
            p {
                font-size: 14px;
            }
        }
    }
    #c-act {
        text-align: center;
        padding: 45px 15px;
        border-radius: 16px;
        background: var(--gen-act);
        h2 {
            font-size: 1.875rem;
            font-weight: 700;
            margin-bottom: 16px;
        }
        p {
            margin-bottom: 32px;
        }
        .m-act {
            width: 100%;
            max-width: 540px;
            height: auto;
            margin: 0 auto;
            background: var(--gen-mail-form);
            border-radius: 16px;
            box-shadow: 0 4px 30px var(--gen-box-shadow);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            padding: 24px;
            > form {
                display: grid;
                gap: 24px;
                .des-e {
                    display: flex;
                    align-items: center;
                    margin-bottom: 8px;
                    span {
                        color: var(--gen-crimson);
                        font-size: 14px;
                        svg {
                            position: relative;
                            top: 2.7px;
                            margin-right: 8px;
                        }
                    }
                }
                #fom-e, #des-e {
                    display: flex;
                    flex-direction: column;
                    input, textarea {
                        background: #ffffff33;
                        border: 1px solid var(--gen-crimson);
                        border-radius: 8px;
                        padding: 12px 16px;
                        font-size: 14px;
                        color: var(--gen-body-color);
                        outline: none;
                        &::placeholder {
                            color: var(--gen-desc-cont);
                        }
                    }
                    textarea {
                        min-height: 100px;
                        resize: none;
                    }
                }
                button {
                    background: var(--gen-crimson);
                    border: none;
                    border-radius: 12px;
                    padding: 12px 24px;
                    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    font-size: 14px;
                    font-weight: 500;
                    color: #ffffff;
                    transition: all 0.2s ease;
                    margin-top: 8px;
                    &:hover {
                        transform: translateY(-1px);
                        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
                    }
                }
                
            }
            #comitm {
                margin-top: 24px;
                text-align: center;
                p {
                    font-size: 12px;
                    margin-bottom: 6px;
                    color: #ec4899;
                }
            }
        }
    }
}
/* ------------------------------------------- */
@media (max-width: 768px) {
    main {
        margin: 9.5rem 0 auto;
        & #achv {
            grid-template-columns: repeat(2, 1fr);
        }
        & #purp {
            grid-template-columns: repeat(1, 1fr);
        }
        #activities .cards {
            grid-template-columns: repeat(1, 1fr);
        }
        #containers {
            padding-bottom: 2rem;
            grid-template-columns: 1fr;
        }
    }
    header {
        #sub-header {
            grid-template-columns: 1fr;
        }
        .main-mn > ul, .header-search, .link-social, #dl {
            display: none;
        }
        .main-mn > #toogle-sbar > button#sbar {
            display: inline-flex;
            padding: 11.51px 12px;
            color: var(--gen-body-color);
        }
        .main-mn > #toogle-sbar {
            display: block;
        }
        #follow, #profile-container {
            position: absolute;
            right: 15px;
        }
        #follow {
            bottom: 9px;
        }
        #profile-container {
            bottom: 5.5px;
        }
    }
}

@media (max-width: 425px) {
    main {
        #containers {
            #hro-cont {
                > h1 {
                    max-width: 20rem;
                    font-size: 2.45rem;
                }
                > h2 {
                    font-size: 1.37rem;
                }
            }
        }
    }
}